@import url("reset.css");
@import url("root.css");
@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');


body::-webkit-scrollbar{width: 0; display: none;}

.side{position: fixed; top: 50%; right: 2%; z-index: 999; margin-top: -100px;}
.side li{margin-bottom: var(--mp30);}
.side a{opacity: .5; color: var(--font-color);}
.side span{display: inline-block; width: 10px; height: 10px; margin-top: 8px; margin-right: 10px; border-radius: 50%; background: var(--point_color);}
.side p{display: inline-block;}
aside a.on{opacity: 1; color: var(--point_color);}
/* e.side */

#section1{position: relative; width: 100vw; height: 100vh;}
#section1 h1{position: absolute; top: 5%; left: 10%; z-index: 10;}
.section1_box{position: absolute; top: 0; right: 0; width: 1600px; height: 655px; background: var(--main_color);}
.section1_text{opacity: 0; position: absolute; top: 63%; left: 10%;}
.section1_text p{font-size: var(--set_title_txt28); line-height: var(--lh75);}
.section1_text img{position: absolute; top: 40%; left: -10%;}
.section1_person{position: absolute; top: 10%; left: 30%;}
.section1_flower{position: absolute; top: 68%; right: 17%;}
.section1_flower.on{animation: flower 5s infinite;}
@keyframes flower{0%{transform: rotate(0deg); transform-origin: left bottom;}25%{transform: rotate(2deg); transform-origin: left bottom;} 50%{transform: rotate(-2deg); transform-origin: left bottom;}100%{transform: rotate(0deg); transform-origin: left bottom;}}
/* e.section1 */


#section2{position: relative; width: 100vw; height: 100vh; background: #F5F5F5;}
#section2 h1{position: absolute; top: 5%; left: 10%;}
.slide_wrap{display: flex; overflow: hidden; position: absolute; top: 50%; margin-top: -250px; margin-left: 18%; width: var(--main_width); height: 500px;}
.slide1{display: flex; justify-content: space-evenly; position: absolute; left: 0%; width: 100%; background: url(../img/company/section2_slide1_1.png) no-repeat 0% 33%, url(../img/company/section2_slide1_2.png) no-repeat 70% 60%, url(../img/company/section2_slide1_3.png) no-repeat 10% 80%;}
.slide1 strong{display: inline-block; margin-bottom: 19%; font-size: 1.25rem;}
.slide1>li{margin-top: 5%; width: 33%;}
.slide1 ul li{margin-bottom: 24%;}
.slide1 span{display: inline-block;}
.slide1_month_dot{margin-right: 5%; vertical-align: middle;}
.slide1_line_1{position: absolute; top: 33%; left: 33.8%; height: 48%;}
.slide1_line_2{position: absolute; top: 33%; right: 32.9%; height: 26%;}
.slide2{display: flex; justify-content: space-evenly; position: absolute; left: 100%; width: 100%; background: url(../img/company/section2_slide1_1.png) no-repeat 0% 35%, url(../img/company/section2_slide1_2.png) no-repeat 70% 62%, url(../img/company/section2_slide1_3.png) no-repeat 100% 82%;}
.slide2 strong{display: inline-block; margin-bottom: 19%; font-size: 1.25rem;}
.slide2>li{margin-top: 5%; width: 33%;}
.slide2 ul li{margin-bottom: 24%;}
.slide2 span{display: inline-block;}
.slide2_month_dot{margin-right: 5%; vertical-align: middle;}
.slide2_line_1{position: absolute; top: 34%; left: 0.5%; height: 23%;}
.slide2_line_2{position: absolute; top: 34%; left: 33.7%; height: 27%;}
.slide2_line_3{position: absolute; top: 34%; right: 33%;  height: 45%;}
.month{margin-right: 10%;}
.btn_left{display: none; position: absolute; top: 50%; left: 10%; margin-top: -36px;}
.btn_right{position: absolute; top: 50%; right: 10%; margin-top: -36px;}
.section2_flower{position: absolute; bottom: 0; left: 0;}

.slide_m{display: none;}
/* e.section2 */

#section3{position: relative; width: 100vw; height: 100vh;}
#section3 h1{position: absolute; top: 5%; left: 10%;}
.section3_bg_1{position: absolute; top: 50%; left: 27%; margin-top: -250px; width: 500px; height: 500px; background: url(../img/company/section3_bg_1.png) no-repeat;}
.section3_bg_2{position: absolute; top: 50%; right: 27%; margin-top: -250px; width: 500px; height: 500px; background: url(../img/company/section3_bg_2.png) no-repeat;}
.section3_ci_logo{position: absolute; top: 50%; left: 50%; margin-top: -101px; margin-left: -237px;}
.section3_ci p{font-size: var(--set_strong_txt25);}
.section3_ci span{color: var(--point_color);}
.ci1{opacity: 0; position: absolute; top: 45%; left: 13%;}
.section3_ci_1{position: absolute; top: 46%; left: 25%; width: 0px;}
.ci2{opacity: 0; position: absolute; top: 12%; right: 32%;}
.section3_ci_2{position: absolute; top: 16%; right: 38%; height: 0;}
.ci3{opacity: 0; position: absolute; top: 49%; right: 15%;}
.section3_ci_3{position: absolute; top: 50%; right: 26%; width: 0;}
.section3_text{position: absolute; bottom: 10%; left: 50%; margin-left: -350px;}
.section3_text p{z-index: 10; font-size: 1.25rem;}
.section3_text span{color: var(--point_color);}
.section3_flower_1{position: absolute; top: 100%; left: 0; width: 30px;}
.section3_flower_2{position: absolute; top: -150%; left: 0; width: 30px;}
.section3_hide_text{display: none; position: absolute; bottom: 10%; left: 50%; width: 270px; margin-left: -135px; text-align: center;}
.section3_hide_text span{color: var(--point_color);}
/* e.section3 */

#section4{position: relative; width: 100vw; height: 100vh; background: #F5F5F5;}
#section4 h1{position: absolute; top: 5%; left: 10%;}
.section4_bi{position: absolute; top: 50%; left: 50%; margin-top: -250px; margin-left: -604px; width: 1209px; height: 500px; background: url(../img/company/section4_bi_bg.png) no-repeat;}
.section4_bi_logo{display: none; position: absolute; top: 50%; left: 50%; margin-top: -180px; margin-left: -178px; width: 355px;}
.bi1{opacity: 0; position: absolute; top: 49%; left: 29%;}
.section4_bi_1{opacity: 0; position: absolute; top: 50%; left: 31%;}
.bi2{opacity: 0; position: absolute; top: 44%; right: 26%;}
.section4_bi_2{opacity: 0; position: absolute; top: 45%; right: 31%;}
.bi3{opacity: 0; position: absolute; top: 67%; right: 26%;}
.section4_bi_3{opacity: 0; position: absolute; top: 69%; right: 32%;}
.section4_text{position: absolute; bottom: 10%; left: 50%; margin-left: -200px; text-align: center;}
.section4_text p{font-size: 1.25rem; line-height: var(--lh75);}
.section4_text span{color: var(--point_color);}
.section4_hide_text{display: none; position: absolute; bottom: 10%; left: 50%; width: 270px; margin-left: -135px; text-align: center;}
.section4_hide_text span{color: var(--point_color);}
/* e.section4 */

#section5{position: relative; width: 100vw; height: 100vh;}
#section5 h1{position: absolute; top: 5%; left: 10%;}
.honesty{position: absolute; bottom: 10%; left: 13%; width: 530px; height: 530px; background: url(../img/company/section5_honesty_bg.png) no-repeat;text-align: center;}
.honesty p{opacity: 0; margin-top: 12%; font-size: 1.75rem; font-weight: bold; color: #71827d;}
.section5_honesty, .section5_happy, .section5_trust{opacity: 0; margin-top: 30%; transform: scale(0.5); transition: 1s;}
.section5_honesty.on, .section5_happy.on, .section5_trust.on{opacity: 1; transform: scale(1);}
.happy{position: absolute; top: 20%; left: 50%; margin-left: -258px; width: 530px; height: 530px; background: url(../img/company/section5_happy_bg.png) no-repeat; text-align: center;}
.happy p{opacity: 0; margin-top: 12%; font-size: 1.75rem; font-weight: bold; color: #ae6c82;}
.trust{position: absolute; bottom: 10%; right: 13%; width: 530px; height: 530px; background: url(../img/company/section5_trust_bg.png) no-repeat; text-align: center;}
.trust p{opacity: 0; margin-top: 12%; font-size: 1.75rem; font-weight: bold; color: #587d88;}
.section5_text{position: absolute; bottom: 5%; left: 50%; margin-left: -212px; text-align: center;}
.section5_text p{font-size: 1.25rem; line-height: var(--lh75);}
.section5_hide_text{display: none; position: absolute; bottom: 5%; left: 50%; width: 300px; margin-left: -150px; text-align: center;}
.section5_hide_text span{color: var(--point_color);}
/* e.section5 */

#section6{position: relative; width: 100vw; height: 100vh; background: #f5f5f5 url(../img/company/section6_flower_1.png) no-repeat 20% 73%;}
#section6 h1{position: absolute; top: 5%; left: 10%;}
.conform{margin-left: 17%; padding-top: 15%; width: var(--main_width);}
fieldset{margin-left: 22%; width: 60%;}
.name{margin-bottom: 1.5%; width: 705px; height: 43px; padding: 0 2%;}
.phone{margin-bottom: 1.5%; width: 705px; height: 43px; padding: 0 2%;}
.mail{margin-bottom: 1.5%; width: 705px; height: 43px; padding: 0 2%;}
.section6_content{display: inline-block; margin-bottom: 5%; width: 166px; height: 210px; border-right: 1px solid #e3e3e3; background: #fff; text-align: center; line-height: 210px;}
.ask{width: 540px; height: 210px;}
.section6_file{display: inline-block; width: 166px; height: 49px; border-right: 1px solid #e3e3e3; background: #fff; text-align: center; line-height: 49px;}
.file{width: 540px; height: 49px; background: #fff;  padding: 2%;}
.submit, .cancle{width: 173px; height: 46px; background: var( --main_txt_color); color: #fff;}
.submit{position: absolute; bottom: 10%; left: 35%; border-radius: 3px;}
.cancle{position: absolute; bottom: 10%; right: 35%; border-radius: 3px;}

#footer{position: relative; bottom: -20%; padding-bottom: 10px; font-size: 0.75rem; color: #b3b3b3; text-align: center;}
/* e.section6 */

@media screen and (max-width:414px){
    .side{display: none;}

    #section1{height: 80vh;}
    #section1 h1 img{width: 185px;}
    .section1_box{width: 80vw; height: 60vh;}
    .section1_text{opacity: 1; top: 35%; left: 5%; font-weight: bold;}
    .section1_text p{font-size: var(--main_sub_txt20);}
    .section1_text img{position: absolute; top: 55%; left: -15%; width: 131px;}
    .section1_person{width: 320px; position: absolute; top: 40%; left: 20%;}
    .section1_flower{display: none;}
    /* e.section1 */

    #section2 h1 img{width: 185px;}
    .slide_wrap{display: none;}
    .btn_left{display: none;}
    .btn_right{display: none;}

    .slide_m{display: block; width: 80%; margin: 0 auto; padding-top: 140px;}
    .slide_m_ul li{margin-bottom: 30px; text-align: center;}
    .slide_m_ul h2{margin-bottom: 5px; font-size: 1.5rem;}
    .slide_m_ul p{color: #444;}
    .section2_flower{width: 50%; opacity: 0.3;}
    /* e.section2 */

    #section3 h1 img{width: 69px;}
    .section3_bg_1{position: absolute; top: 70%; left: 5%; width: 200px; height: 200px; background: url(../img/company/section3_bg_1.png) no-repeat center center/200px 200px;}
    .section3_bg_2{position: absolute; top: 70%; right: 5%; width: 200px; height: 200px; background: url(../img/company/section3_bg_2.png) no-repeat center center/200px 200px;;}
    .section3_ci_logo{width: 150px; position: absolute; top: 60%; left: 50%; margin-left: -75px;}
    .ci1{display: none;}
    .section3_ci_1{display: none;}
    .ci2{display: none;}
    .section3_ci_2{display: none;}
    .ci3{display: none;}
    .section3_ci_3{display: none;}
    .section3_text{display: none;}
    .section3_hide_text{display: block;}
    /* e.section3 */

    #section4{position: relative; width: 100vw; height: 100vh; background: #F5F5F5;}
    #section4 h1 img{width: 69px;}
    .section4_bi{left: 0%; margin-top: -200px; margin-left: 0px; width: 100vw; height: 400px; background: url(../img/company/section4_bi_bg.png) no-repeat center center;}
    .section4_bi_logo{display: block; position: absolute; top: 50%; left: 50%; width: 200px; margin-top: -100px; margin-left: -100px;}
    .bi1{display: none;}
    .section4_bi_1{display: none;}
    .bi2{display: none;}
    .section4_bi_2{display: none;}
    .bi3{display: none;}
    .section4_bi_3{display: none;}
    .section4_text{display: none;}
    .section4_hide_text{display: block;}
    /* e.section4 */


    
    #section5{position: relative; width: 100vw; height: 100vh;}
    #section5 h1 img{width: 185px;}
    .honesty{position: absolute; top: 17%; left: 13%; width: 200px; height: 200px; background: url(../img/company/section5_honesty_bg.png) no-repeat center center/200px 200px;}
    .honesty p{opacity: 1; margin-top: -5%; font-size: 1rem;}
    .section5_honesty, .section5_happy{opacity: 1; margin-top: 0%; transform: scale(.5);}
    .section5_trust{opacity: 1; margin-top: 10%; margin-left: -10%; transform: scale(.5);}
    .happy{position: absolute; top: 35%; left: 105%; width: 200px; height: 200px; background: url(../img/company/section5_happy_bg.png) no-repeat center center/200px 200px}
    .happy p{opacity: 1; margin-top: -15%; font-size: 1rem}
    .trust{position: absolute; top: 53%; left: 13%; width: 200px; height: 200px; background: url(../img/company/section5_trust_bg.png) no-repeat center center/200px 200px;}
    .trust p{opacity: 1; margin-top: -15%; font-size: 1rem}
    .section5_text{display: none;}
    .section5_hide_text{display: block;}
    /* e.section5 */

    #section6{display: none;}
}