@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/* reset.css */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, fieldset {
  border: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

address, em {
  font-style: normal;
}

li img, object {
  vertical-align: top;
}

input, select, textarea {
  vertical-align: middle;
}

a {
  outline: 0;
  text-decoration: none;
  border: none;
  color: #444;
}

body {
  font-size: 16px;
  font-family: "NanumSquare", sans-serif;
  color: #444;
}

.noMargin {
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

.floatClear:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.blind {
  display: block;
  text-indent: -2000px;
  overflow: hidden;
}

/* space */
/* font size */
/* line height */
/* s_index */
/* teamachine */
/* 16px base */
/* line hieght */
/* onback_cup */
/* onback_detail */
/* reset.css */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, fieldset {
  border: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

address, em {
  font-style: normal;
}

li img, object {
  vertical-align: top;
}

input, select, textarea {
  vertical-align: middle;
}

a {
  outline: 0;
  text-decoration: none;
  border: none;
  color: #444;
}

body {
  font-size: 16px;
  font-family: "NanumSquare", sans-serif;
  color: #444;
}

.noMargin {
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

.floatClear:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.blind {
  display: block;
  text-indent: -2000px;
  overflow: hidden;
}

/* space */
/* font size */
/* line height */
/* s_index */
/* teamachine */
/* 16px base */
/* line hieght */
/* onback_cup */
/* onback_detail */
#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 65%;
  margin-top: 1%;
  margin-left: 17%;
  margin-bottom: 1%;
  font-family: "NanumSquare_acR";
}
#header .logo {
  width: 144px;
}
#header .nav {
  width: 61%;
}
#header .nav ul {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  align-items: center;
  font-size: 1.125rem;
}
#header .nav ul li {
  margin-right: 1%;
}
#header .nav ul li:hover a {
  color: #ff7a58;
}
#header .nav ul li .brand {
  display: inline-block;
  width: 131px;
  height: 32px;
  padding-left: 10%;
  border: 1px solid #ff585c;
  border-radius: 15px;
  background: url(../img/common/header_shop_hover.png) no-repeat 93% 55%;
  font-size: 16px;
  color: #ff585c;
  line-height: 32px;
}
#header .nav ul li .brand:hover {
  background: url(../img/common/header_shop.png) no-repeat 93% 55% #ff7a58;
  border: 0;
  color: #fff;
}
#header .icon {
  width: 8%;
}
#header .icon ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .menu_bar {
  width: 20px;
  height: 20px;
  display: none;
  position: absolute;
  top: 65%;
  right: 10%;
  cursor: pointer;
}
#header .menu_bar .top {
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 3px;
  background: #000;
}
#header .menu_bar .middle1, #header .menu_bar .middle2, #header .menu_bar .middle3 {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 3px;
  background: #000;
  transition: all 1s;
}
#header .menu_bar .middle1.on {
  transform: rotate(45deg) scale(1.5);
}
#header .menu_bar .middle3.on {
  transform: rotate(-45deg) scale(1.5);
}
#header .menu_bar .bottom {
  position: absolute;
  top: 16px;
  left: 0;
  width: 20px;
  height: 3px;
  background: #000;
}

@media screen and (max-width: 640px) {
  #header {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
  #header .logo img {
    width: 144px;
  }
  #header .nav {
    width: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 150%;
    right: 0px;
    z-index: 100;
    height: 71vh;
    padding-top: 10%;
    background: #FFF1E9;
  }
  #header .nav ul {
    flex-direction: column;
    width: 85%;
  }
  #header .nav ul li {
    margin-right: 0%;
    margin-bottom: 20%;
  }
  #header .menu_bar {
    display: block;
    position: absolute;
    top: 55%;
    right: 0%;
    z-index: 10;
  }
  #header .menu_bar .top {
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 3px;
    background: #000;
  }
  #header .menu_bar .middle1, #header .menu_bar .middle2, #header .menu_bar .middle3 {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background: #000;
  }
  #header .menu_bar .bottom {
    position: absolute;
    top: 16px;
    left: 0;
    width: 20px;
    height: 3px;
    background: #000;
  }
  #header .icon {
    margin-right: 25px;
    width: 17%;
  }
}
/* reset.css */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, fieldset {
  border: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

address, em {
  font-style: normal;
}

li img, object {
  vertical-align: top;
}

input, select, textarea {
  vertical-align: middle;
}

a {
  outline: 0;
  text-decoration: none;
  border: none;
  color: #444;
}

body {
  font-size: 16px;
  font-family: "NanumSquare", sans-serif;
  color: #444;
}

.noMargin {
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

.floatClear:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

.blind {
  display: block;
  text-indent: -2000px;
  overflow: hidden;
}

/* space */
/* s_index */
/* teamachine */
/* 16px base */
/* line hieght */
/* onback_cup */
/* onback_detail */
/* font size */
/* line height */
#footer {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 30px 0;
}
#footer .footer_wrap {
  display: flex;
  width: 65%;
  margin: 0 auto;
}
#footer .footer_wrap img {
  width: 81px;
  height: 114px;
}
#footer .footer_wrap .footer_box1 {
  margin-left: 69px;
  margin-right: 92px;
}
#footer .footer_wrap .footer_box1 p {
  font-size: 1.0625rem;
  color: #444;
}
#footer .footer_wrap .footer_box1 h1 {
  font-size: 2.375rem;
  color: #444;
  font-weight: bold;
  margin-bottom: 19px;
}
#footer .footer_wrap .footer_box1 .box1_ul {
  font-size: 1.0625rem;
  color: #444;
  line-height: 1.59375rem;
}
#footer .footer_wrap .footer_box1 .box1_ul li span {
  display: inline-block;
  padding-left: 20px;
}
#footer .footer_wrap .footer_box1 .box1_ul li .gray {
  color: #b3b3b3;
  padding-left: 0;
}
#footer .footer_wrap .footer_box2 .box2_ul1 {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  color: #444;
  font-weight: bold;
  margin-bottom: 30px;
}
#footer .footer_wrap .footer_box2 .box2_ul2 {
  font-size: 1.0625rem;
  color: #444;
  line-height: 1.859375rem;
}

@media screen and (min-width: 414px) and (max-width: 736px) {
  #footer .footer_wrap {
    width: 90%;
    flex-direction: column;
  }
  #footer .footer_wrap img {
    display: none;
  }
  #footer .footer_wrap .footer_box1 {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  #footer .footer_wrap .footer_box2 {
    width: 100%;
    text-align: center;
  }
  #footer .footer_wrap .footer_box2 .box2_ul1 {
    font-size: 0.9375rem;
    color: #444;
  }
  #footer .footer_wrap .footer_box2 .box2_ul2 {
    font-size: 0.9375rem;
    color: #444;
  }
}
* {
  font-family: "NanumSquare";
}

#section1 {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  justify-content: space-between;
}
#section1 .sec1_left {
  flex: 1;
}
#section1 .sec1_left img {
  width: 500px;
  height: 480px;
}
#section1 .sec1_right {
  flex: 1;
}
#section1 .sec1_right h1 {
  font-size: 2.375rem;
  margin-bottom: 7%;
}
#section1 .sec1_right p {
  font-size: 1.25rem;
  margin-bottom: 5%;
}
#section1 .sec1_right .right_price {
  padding: 5% 0;
  margin-bottom: 8%;
  border-top: 0.5px solid #444;
  border-bottom: 0.5px solid #444;
}
#section1 .sec1_right .right_price li {
  margin-bottom: 5%;
  color: #5b5b5b;
}
#section1 .sec1_right .right_price li span {
  color: #bcbcbc;
  margin-right: 5%;
}
#section1 .sec1_right .right_price li:nth-child(3) {
  margin-bottom: 0;
}
#section1 .sec1_right .right_price li:nth-child(3) span {
  margin-right: 7%;
}
#section1 .sec1_right .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%;
}
#section1 .sec1_right .cart li:nth-child(1) {
  font-size: 1.563rem;
}
#section1 .sec1_right .cart li:nth-child(2) {
  width: 130px;
}
#section1 .sec1_right .cart li .change_number {
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 10%;
  line-height: 33px;
  text-align: center;
  width: 24px;
}
#section1 .sec1_right .cart li .minus {
  margin-right: 10%;
}
#section1 .sec1_right .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7%;
}
#section1 .sec1_right .price li:nth-child(1) {
  font-size: 1.563rem;
}
#section1 .sec1_right .price li:nth-child(2) {
  font-size: 2.375rem;
}
#section1 .sec1_right .right_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section1 .sec1_right .right_btn li {
  height: 70px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}
#section1 .sec1_right .right_btn li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  color: #fff;
}
#section1 .sec1_right .right_btn li:nth-child(1) {
  flex: 2;
  background: #f7afa2;
  border: 1px solid #f7afa2;
}
#section1 .sec1_right .right_btn li:nth-child(1):hover {
  background: #fff;
  border: 1px solid #ff7a58;
}
#section1 .sec1_right .right_btn li:nth-child(1):hover a {
  color: #ff7a58;
}
#section1 .sec1_right .right_btn li:nth-child(2) {
  flex: 3;
  background: #f38773;
  border: 1px solid #f38773;
}
#section1 .sec1_right .right_btn li:nth-child(2):hover {
  background: #fff;
  border: 1px solid #ff585c;
}
#section1 .sec1_right .right_btn li:nth-child(2):hover a {
  color: #ff585c;
}

#section2 {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  justify-content: space-between;
}
#section2 .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
#section2 .info > li {
  position: relative;
  text-align: center;
}
#section2 .info > li:nth-child(1) {
  position: relative;
  width: 340px;
  opacity: 0;
  transition: all 1s;
  bottom: -70px;
}
#section2 .info > li:nth-child(1) h2 {
  margin-bottom: 60px;
}
#section2 .info > li:nth-child(1) img {
  width: 100%;
}
#section2 .info > li:nth-child(2) {
  position: relative;
  width: 330px;
  opacity: 0;
  transition: all 1s;
  bottom: -70px;
}
#section2 .info > li:nth-child(2) h2 {
  margin-bottom: 20px;
}
#section2 .info > li:nth-child(2) img {
  width: 100%;
}
#section2 .info > li:nth-child(3) {
  position: relative;
  margin-right: 0px;
  width: 100px;
  opacity: 0;
  transition: all 1s;
  bottom: -70px;
}
#section2 .info > li:nth-child(3) h2 {
  margin-bottom: 60px;
}
#section2 .info > li h2 {
  font-size: 1.563rem;
  font-weight: normal;
}
#section2 .info > li .eff li {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: left;
  text-indent: 32px;
  background: url(../img/onback_detail_1/section2_eff.png) no-repeat center left;
  background-size: contain;
}

@media screen and (max-width: 640px) {
  #section1 {
    flex-direction: column;
    width: 88%;
    margin-bottom: 50px;
  }
  #section1 .sec1_left img {
    width: 100%;
    height: auto;
  }
  #section1 .sec1_right {
    margin-top: 70px;
  }
  #section1 .sec1_right h1 {
    font-size: 28px;
  }
  #section1 .sec1_right p {
    font-size: 16px;
  }
  #section1 .sec1_right .cart li:nth-child(1) {
    font-size: 22px;
  }
  #section1 .sec1_right .price li:nth-child(1) {
    font-size: 22px;
  }
  #section1 .sec1_right .price li:nth-child(2) {
    font-size: 20px;
  }
  #section1 .sec1_right .right_btn li {
    height: 50px;
    line-height: 50px;
  }
  #section1 .sec1_right .right_btn li a {
    font-size: 16px;
  }

  #section2 {
    flex-direction: column;
    width: 88%;
    margin: 0 auto;
  }
  #section2 .info {
    flex-direction: column;
    align-items: center;
  }
  #section2 .info > li {
    margin-top: 20%;
    text-align: center;
  }
  #section2 .info > li h2 {
    font-size: 20px;
  }
  #section2 .info:nth-child(1) {
    margin: 0;
    text-align: center;
  }
  #section2 .info:nth-child(2) {
    margin: 0;
    text-align: center;
  }
  #section2 .info .eff {
    margin-bottom: 150px;
  }
}

/*# sourceMappingURL=onback_detail.css.map */
