@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@font-face{
    font-family: 'NanumSquare';
    src: url(../font/NanumSquare_acR.ttf);
}

/* reset.css */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{font-size:100%;}
img, fieldset{border:0px;}
table{border-collapse:collapse;border-spacing: 0;}
ul, ol, li{list-style:none;}
address, em{font-style:normal;}
li img, object{vertical-align:top;}
input, select, textarea, form img{vertical-align:middle;}
a{ outline:0; text-decoration:none; border:none;color:#444;}
body {font-size: 16px; font-family: 'Noto Sans KR', sans-serif; color:#444;}
.noMargin { margin:0px;}
*{margin:0;padding:0;vertical-align:top;border:0; box-sizing: border-box;}

header, section, footer, aside, nav, main, article, figure {display: block;}
.floatClear:after{content:'';display:block;clear:both;}
.hidden{display:none;}
.blind{display:block;text-indent:-2000px;overflow:hidden;}