@import url("reset.css");
@import url("root.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@font-face {font-family: 'MapoGoldenPier'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff'); font-weight: normal; font-style: normal;}

body::-webkit-scrollbar{width: 0; display: none;}


#header{position: fixed; top: 0; left: 0; z-index: 30; width: 100vw; margin-top: 2%; margin-left: 5VW; font-family: 'Noto Sans KR'}
.nav{position: relative; display: flex; justify-content: space-between; width:90VW;}
.gnb{position: absolute; top: 10px; right: 0; display: flex; text-align: center;}
.gnb li{margin-right: 2%; line-height: 28px;}
.gnb a{display: block; position: relative; width: 84px; color: #fff;}
.gnb a::after{position: absolute; bottom: -2PX; left: 50%; display: block; width: 0; height: 3px; background: #fff; content: ''; transition: .3s;}
.gnb a:hover::after{left: 5%; width: 100%;}
.gnb a.on{border-bottom: 1px solid #fff; color: #fff;}
.hiden_icon i{display: none; position: absolute; top: 48%; right: -5%; color: #fff; font-size: 1.5rem;} 
.m_nav{overflow: hidden; position: absolute; top: 0; right: 0; width: 0vw;}
.m_menu{width: 100vw; padding: 3% 2%; background: var(--main_color);}
.m_gnb{width: 100%; height: 100vh; padding: 30% 10%;}
.m_gnb>li>a:hover{color: var(--main_txt_color);}
.m_gnb>li{margin-bottom: 25%; font-size: 1.5rem;}
.m_sub{margin-top: 0%;}
.m_sub li{margin-top: 10%; font-size: 0.75rem;}
.m_gnb a{font-weight: bold; color: #755851;}
.m_sub a{font-weight: normal;}
.menu_icon i{position: absolute; top: 3%; right: 10%; font-size: 1.5rem;}
/* e.header */

#section1{overflow: hidden; position: relative; top: 0; left: 0; z-index: 20; width: 100vw; height: 100vh; background: url(../img/index/section1_bg.jpg) no-repeat ;}
.section1_bg{width: 110vw; height: 110vh;}
.section1_text{opacity: 0; position: absolute; top: 52%; left: 50%; margin-top: -68px; margin-left: -420px; text-align: center; font-family: 'MapoGoldenPier'}
.section1_text p{margin-bottom: var(--mp30); font-size: var(--main_tit_txt48); color: #fff;}
.section1_text span{font-size: var(--main_set_sub_txt28); color: #fff; line-height: var(--main_sub_lh23);}
.section1_hide_text{display: none; position: absolute; top: 50%; left: 50%; width: 330px; margin-top: -100px; margin-left: -165px; color: #fff; text-align: center; font-family: 'MapoGoldenPier'}
.section1_hide_text p{margin-bottom: var(--mp30); font-size: 3rem;}
.section1_hide_text span{font-size: 1.75rem; color: #fff; line-height: 2rem;}
.section1_down img{position: absolute; bottom: 26%; left: 50%; margin-left: -26px;}
#footer{position: fixed; bottom: 1%; left: 50%; margin-left: -146px; font-size: 0.75rem; color: #fff;}
/* e.section1 */

.side{position: fixed; top: 50%; right: 2%; z-index: 10; margin-top: -90px; font-family: 'Noto Sans KR'}
.quick_menu li{margin-bottom: var(--mp30);}
.quick_menu a{opacity: .5; color: #fff;}
.quick_menu a.on{opacity: 1;}
.quick_menu span{display: inline-block; width: 10px; height: 10px; margin-top: 8px; margin-right: 10px; border-radius: 50%; background: #fff;}
.quick_menu p{display: inline-block;}
/* e.side */

#section2{position: relative; top: 0; left: 0; width: 100vw; height: 100vh; background: url(../img/index/section2_bg.jpg) no-repeat;}
.section2_bg{width: 110vw; height: 100vh;}
.section2_text{opacity: 0; position: absolute; top: 52%; left: 50%; width: 800px; margin-top: -87px; margin-left: -400px; text-align: center; color: #fff; font-family: 'MapoGoldenPier'}
.section2_text h2{margin-bottom: var(--mp30); font-size: var( --main_set_tit_txt38);}
.section2_show_text{font-size: var(--main_sub_txt20); line-height: var(--main_set_sub_lh30);}
.section2_hide_text{display: none; line-height: var(--main_set_sub_lh30);}
.section2_text a{display: inline-block; position: absolute; top: 10%; left: 60%; padding-right: 2%; width: 89px; height: 23px; border-radius: var(--bt1_radius); background: var(--bt1_bg) url(../img/index/section_btn.png) no-repeat 90% 50%; font-size: 12px; color: var(--bt1_color); line-height: 23px;}
.section2_text a:hover{background: var(--bt1_hov_bg) url(../img/index/section_btn_hover.png) no-repeat 90% 60%; color: var(--bt1_hov_color);}
.sectino2_tab{position: absolute; top: 50%; left: 0; margin-top: -78px; width: 209px; height: 155px; background: rgba(0, 0, 0, .5);}
.section2_show{cursor:  pointer;}
.section2_show p{position: absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -65px; color: #fff;}
.section2_show img{position: absolute; top: 50%; left: 50%; margin-left: -65px;}
.section2_hide{display: none; color: #fff;}
.section2_fold{position: absolute; bottom: 3%; right: 9%; cursor: pointer;}
.section2_fold p{padding-left: 50%;}
.efficacy p{position: absolute; top: 30%; left: 38%; font-weight: bold; font-size: 1.5rem;}
.efficacy span{display: block; position: absolute; top: 35%; left: 46%;}
.explain{position: absolute; top: 48%; left: 18%;}
.explain li{margin-bottom: 20%;}
.explain span{color: var(--point_color); font-size: 1.25rem; font-weight: bold;}
.explain p{display: inline-block;}
.section2_down img{position: absolute; bottom: 26%; left: 50%; margin-left: -26px;}
.m_section2_tab{display: none; position: absolute; bottom: 0; left: 0; width: 100vw; height: 62px; background: rgba(0, 0, 0, .5); color: #fff; text-align: center;}
.m_section2_show{display: block; height: 62px; line-height: 62px; cursor: pointer;}
.m_section2_hide{display: none; cursor: pointer;}
.m_efficacy{position: absolute; top: 15%; left: 50%; margin-left: -46px;}
.m_efficacy p{font-size: 1.5rem;}
.m_efficacy span{font-size: 0.875rem;}
.m_explain{position: absolute; bottom: 15%; left: 50%; margin-left: -114px; width: 228px; text-align-last: left;}
.m_explain li{width: 60vw; margin-bottom: 2%;}
.m_explain span{margin-right: 3%; color: var(--point_color); font-size: 1.25rem; font-weight: bold;}
.m_explain p{display: inline-block;}
/* e.section2 */

#section3{position: relative; top: 0; left: 0; width: 100vw; height: 100vh; background: url(../img/index/section3_bg.jpg) no-repeat;}
.section3_bg{width: 110vw; height: 100vh;} 
.section3_text{opacity: 0; position: absolute; top: 52%; left: 50%; width: 850px; margin-top: -72px; margin-left: -425px; text-align: center; color: #fff; font-family: 'MapoGoldenPier'}
.section3_text h2{margin-bottom: var(--mp30); font-size: var( --main_set_tit_txt38);}
.section3_show_text{font-size: var(--main_sub_txt20); line-height: var(--main_set_sub_lh30);}
.section3_hide_text{display: none; line-height: var(--main_set_sub_lh30);}
.section3_text a{display: inline-block; position: absolute; top: 10%; left: 60%; padding-right: 2%; width: 89px; height: 23px; border-radius: var(--bt1_radius); background: var(--bt1_bg) url(../img/index/section_btn.png) no-repeat 90% 50%; font-size: 12px; color: var(--bt1_color); line-height: 23px;}
.section3_text a:hover{background: var(--bt1_hov_bg) url(../img/index/section_btn_hover.png) no-repeat 90% 60%; color: var(--bt1_hov_color);}
.sectino3_tab{position: absolute; top: 50%; left: 0; margin-top: -78px; width: 209px; height: 155px; background: rgba(0, 0, 0, .5);}
.section3_show{cursor:  pointer;}
.section3_show p{position: absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -65px; color: #fff;}
.section3_show img{position: absolute; top: 50%; left: 50%; margin-left: -65px;}
.section3_hide{display: none; color: #fff;}
.section3_fold{position: absolute; bottom: 3%; right: 9%; cursor: pointer;}
.section3_fold p{padding-left: 50%;}
.section3_down img{position: absolute; bottom: 26%; left: 50%; margin-left: -26px;}
.m_section3_tab{display: none; position: absolute; bottom: 0; left: 0; width: 100vw; height: 62px; background: rgba(0, 0, 0, .5); color: #fff; text-align: center;}
.m_section3_show{display: block; height: 62px; line-height: 62px; cursor: pointer;}
.m_section3_hide{display: none; cursor: pointer;}
/* e.section3 */

#section4{position: relative; top: 0; left: 0; width: 100vw; height: 100vh; background: url(../img/index/section4_bg.jpg) no-repeat;}
.section4_bg{width: 110vw; height: 100vh;} 
.section4_text{opacity: 0; position: absolute; top: 52%; left: 50%; width: 820px; margin-top: -85px; margin-left: -410px; text-align: center; color: #fff; font-family: 'MapoGoldenPier'}
.section4_text h2{margin-bottom: var(--mp30); font-size: var( --main_set_tit_txt38);}
.section4_show_text{font-size: var(--main_sub_txt20); line-height: var(--main_set_sub_lh30);}
.section4_hide_text{display: none; line-height: var(--main_set_sub_lh30);}
.section4_text a{display: inline-block; position: absolute; top: 10%; left: 63%; padding-right: 2%; width: 89px; height: 23px; border-radius: var(--bt1_radius); background: var(--bt1_bg) url(../img/index/section_btn.png) no-repeat 90% 50%; font-size: 12px; color: var(--bt1_color); line-height: 23px;}
.section4_text a:hover{background: var(--bt1_hov_bg) url(../img/index/section_btn_hover.png) no-repeat 90% 60%; color: var(--bt1_hov_color);}
.sectino4_tab{position: absolute; top: 50%; left: 0; margin-top: -78px; width: 209px; height: 155px; background: rgba(0, 0, 0, .5);}
.section4_show{cursor:  pointer;}
.section4_show p{position: absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -65px; color: #fff;}
.section4_show img{position: absolute; top: 50%; left: 50%; margin-left: -65px;}
.section4_hide{display: none; color: #fff;}
.section4_fold{position: absolute; bottom: 3%; right: 9%; cursor: pointer;}
.section4_fold p{padding-left: 50%;}
.section4_down img{position: absolute; bottom: 26%; left: 50%; margin-left: -26px;}
.m_section4_tab{display: none; position: absolute; bottom: 0; left: 0; width: 100vw; height: 62px; background: rgba(0, 0, 0, .5); color: #fff; text-align: center;}
.m_section4_show{display: block; height: 62px; line-height: 62px; cursor: pointer;}
.m_section4_hide{display: none; cursor: pointer;}
/* e.section4 */

#section5{position: relative; top: 0; left: 0; width: 100vw; height: 100vh; background: url(../img/index/section5_bg.jpg) no-repeat;}
.section5_bg{width: 110vw; height: 100vh;} 
.section5_text{opacity: 0; position: absolute; top: 52%; left: 50%; width: 800px; margin-top: -72px; margin-left: -400px;text-align: center;color: #fff; font-family: 'MapoGoldenPier'}
.section5_text h2{margin-bottom: var(--mp30); font-size: var( --main_set_tit_txt38);}
.section5_show_text{font-size: var(--main_sub_txt20); line-height: var(--main_set_sub_lh30);}
.section5_hide_text{display: none; line-height: var(--main_set_sub_lh30);}
.section5_text a{display: inline-block; position: absolute; top: 10%; left: 60%; padding-right: 2%; width: 89px; height: 23px; border-radius: var(--bt1_radius); background: var(--bt1_bg) url(../img/index/section_btn.png) no-repeat 90% 50%; font-size: 12px; color: var(--bt1_color); line-height: 23px;}
.section5_text a:hover{background: var(--bt1_hov_bg) url(../img/index/section_btn_hover.png) no-repeat 90% 60%; color: var(--bt1_hov_color);}
.sectino5_tab{position: absolute; top: 50%; left: 0; margin-top: -78px; width: 209px; height: 155px; background: rgba(0, 0, 0, .5);}
.section5_show{cursor:  pointer;}
.section5_show p{position: absolute; top: 50%; left: 50%; margin-top: -10px; margin-left: -65px; color: #fff;}
.section5_show img{position: absolute; top: 50%; left: 50%; margin-left: -65px;}
.section5_hide{display: none; color: #fff;}
.section5_fold{position: absolute; bottom: 3%; right: 9%; cursor: pointer;}
.section5_fold p{padding-left: 50%;}
.section5_down img{display: none;}
.m_section5_tab{display: none; position: absolute; bottom: 0; left: 0; width: 100vw; height: 62px; background: rgba(0, 0, 0, .5); color: #fff; text-align: center;}
.m_section5_show{display: block; height: 62px; line-height: 62px; cursor: pointer;}
.m_section5_hide{display: none; cursor: pointer;}
/* e.section5 */

.fixed{position: fixed; bottom: -11%; right: 8%; z-index: 100;}
.fixed:hover{position: fixed; bottom: -5%; right: 8%;}
.fixed.on{position: fixed; bottom: -5%; right: 8%;}
.effect1{opacity: 0; position: fixed; bottom: -11%; right: 7.8%; z-index: 90; width: 185px; height: 185px; border: 1px solid #f47959; border-radius: 50%;}
.effect1.on{opacity: 0; position: fixed; bottom: -5%; right: 7.8%; z-index: 90; width: 185px; height: 185px; border: 1px solid #f47959; border-radius: 50%;}
.effect2{opacity: 0; position: fixed; bottom: -11%; right: 7.6%; z-index: 90; width: 195px; height: 195px; border: 1px solid #f47959; border-radius: 50%;}
.effect2.on{opacity: 0; position: fixed; bottom: -5%; right: 7.6%; z-index: 90; width: 195px; height: 195px; border: 1px solid #f47959; border-radius: 50%;}
.effect3{opacity: 0; position: fixed; bottom: -11%; right: 7.4%; z-index: 90; width: 205px; height: 205px; border: 1px solid #f47959; border-radius: 50%;}
.effect3.on{opacity: 0; position: fixed; bottom: -5%; right: 7.4%; z-index: 90; width: 205px; height: 205px; border: 1px solid #f47959; border-radius: 50%;}
.effect4{opacity: 0; position: fixed; bottom: -11%; right: 7.2%; z-index: 90; width: 210px; height: 210px; border: 1px solid #f47959; border-radius: 50%;}
.effect4.on{opacity: 0; position: fixed; bottom: -5%; right: 7.2%; z-index: 90; width: 210px; height: 210px; border: 1px solid #f47959; border-radius: 50%;}
/* e.move_page */

@media screen and (max-width:414px){
    #header{margin-top: 0; margin-left: 0;}
    .logo{margin: 3% 0 0 5%;}
    .logo img{width: 76px;}
    .gnb{display: none;}
    .hiden_icon i{display: block;}
    /* e.header */
    
    .side{display: none;}
    .move_page{display: none;}
    .section1_down{display: none;}
    .section2_down{display: none;}
    .section3_down{display: none;}
    .section4_down{display: none;}
    .section5_down{display: none;}
    .section1_text{display: none;}
    .section1_hide_text{display: block;}
    #footer{position: absolute;}
    /* e.section1 */

    #section2{background: url(../img/index/section2_bg.jpg) no-repeat center center;}
    .section2_text{opacity: 1; top: 50%; width: 350px; margin-top: -100px; margin-left: -175px;}
    .section2_show_text{display: none;}
    .section2_hide_text{display: block;}
    .section2_text a{top: 8%; left: 70%;}
    .sectino2_tab{display: none;}
    .m_section2_tab{display: block;}
    /* e.section2 */

    #section3{background: url(../img/index/section3_bg.jpg) no-repeat center center;}
    .section3_text{opacity: 1; top: 50%; width: 360px; margin-top: -100px; margin-left: -180px;}
    .section3_show_text{display: none;}
    .section3_hide_text{display: block;}
    .section3_text a{top: 8%; left: 65%;}
    .sectino3_tab{display: none;}
    .m_section3_tab{display: block;}
    /* e.section3 */

    #section4{background: url(../img/index/section4_bg.jpg) no-repeat center center;}
    .section4_text{opacity: 1; top: 50%; width: 300px; margin-top: -130px; margin-left: -150px;}
    .section4_show_text{display: none;}
    .section4_hide_text{display: block;}
    .section4_text a{top: 8%; left: 80%;}
    .sectino4_tab{display: none;}
    .m_section4_tab{display: block;}
    /* e.section4 */

    #section5{background: url(../img/index/section5_bg.jpg) no-repeat center center;}
    .section5_text{opacity: 1; top: 50%; width: 350px; margin-top: -100px; margin-left: -175px;}
    .section5_show_text{display: none;}
    .section5_hide_text{display: block;}
    .section5_text a{top: 8%; left: 70%;}
    .sectino5_tab{display: none;}
    .m_section5_tab{display: block;}
    /* e.section5 */
}