$fontColor:#444;
$mainColor:#FFF1E9;
$pointColor:#ff585c;
$mainTxtcolor:#ff7a58;
$subColor:#7b7b7b;
$bgColor:#ccc;

$gray1: #444;
$gray2: #707070;
$gray3: #7b7b7b;
$gray4: #b3b3b3;
$gray5: #ccc;
$gray6: #e3e3e3;

$white: #fff;

$onBack1: #ff585c;
$onBack2: #ff7a58;
$onBack3: #f79a82;
$onBack4: #f9bcac;
$onBack5: #fcddd6;
