@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

$fontFamliy: 'NanumSquare';

/* font size */
$mainTitle48: 3rem;
$mainSub20: 1.25rem;
$mainBasic30: 1.875rem;
$mainSettitle38: 2.375rem;
$mainSetsub28: 1.75rem;
$setTitle28: 1.75rem;
$set16: 1rem;
$setStrong25: 1.563rem;
$fooTitle38: 2.375rem;
$footBasic14: 0.875rem;

/* line height */
$lh50: 3.125rem;
$lh23: 1.438rem;
$lh35: 2.188rem;
$lh40: 2.5rem;
$mainSetsublh30: 1.875rem;
$setTitlelh30: 2.5rem;
$setLh30: 1.875rem;
$setStronglh35: 2.188rem;
$fooTitlelh40: 2.5rem;
$fooLh32: 2rem;
$fooBasiclh23: 1.438rem;




