/* space */
$main_width:65%;
$mp30:30px;
$set_margin:100px;
$h_margin:30px;
$subH_margin:10px;

$mp5: 5px;
$mp10: 10px;
$mp30: 30px;
$mp35: 35px;
$mp40: 40px;
$mp50: 50px;
$mp100: 100px;
$mp150: 150px;
$mp200: 200px;
$mp250: 250px;
$mp300: 300px;
$mp400: 400px;
$mp450: 450px;

